
body{
    font-family: 'Poppins',Arial, sans-serif;
    background: #f8f9fd;
}
thead th{
    text-align: center;
}
tbody td{
    text-align: center;
}
tbody img{
    width: 100px;
    border-radius: 3%;
}
.btn-add-color{
    color: #EFF0F2;
    background-color: #007074;
}
.btn-delete-color{
    color: #EFF0F2;
    background-color: #721830;
}
.login-button {
    background-color: #007074; 
    border: none;
    color: white;
    padding: 5px 6vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
a{
    text-decoration: none;
    color: #007074 !important;
}
input, select{
    background-color: #EFF0F2 !important;
    border:none !important;
    border-radius: 0 !important;
}
.mar{
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}
.log-image img{
    height: 100vh !important;
}
.img-home img{
    height: 90vh;
}
@media only screen and (max-width: 800px) {
.img-contain img{
    display: none !important;
}
.form-contain{
    width: 100%;
    margin-top: 15vh;
}
.log-body{
    background-image: url(../assets/img/logIn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f8f9fdd2;
    background-blend-mode: color;
}
.sign-body{
    background-image: url(../assets/img/signUp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f8f9fdd2;
    background-blend-mode: color;
}

}
