.login-button {
    background-color: #007074; 
    border: none;
    color: white;
    padding: 5px 6vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
a{
    text-decoration: none;
    color: #007074;
}
input{
    background-color: #EFF0F2 !important;
    border:none !important;
    border-radius: 0 !important;
}
